:root {
    --primary-dark: #1b4332;   /* Verde Bosque profundo (Elegancia y frescura) */
    --primary-light: #2d6a4f;  /* Verde medio */
    --accent-orange: #fb8500;  /* Naranja vibrante (Ideal para botones de acción) */
    --accent-yellow: #ffb703;  /* Amarillo mostaza (Para detalles o precios) */
    --bg-cream: #fefae0;       /* Crema muy suave (Más cálido que el blanco puro) */
    --text-dark: #081c15;      /* Casi negro para lectura */
    --text-description: #555555;
    --white: #ffffff;
    --border--color: #cccccc;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --error-color: #ec2222;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-cream);
    color: var(--text-dark);
    font-family: 'Montserrat', sans-serif;
}

/*---------------- ESTILOS DEL ENCABEZADO ----------------*/

.store-header {
    background-color: var(--primary-dark); /* Fondo verde oscuro */
    color: var(--white);
    padding: 1.2rem 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    background: linear-gradient(135deg, var(--primary-dark) 0%, #061c15 100%);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.store-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

/*---------------- ESTILOS DEL LOGO ----------------*/

.header-container__logo {
    display: flex;
    align-items: center;
}

.header-container__text {
    color: var(--white);
    margin-left: 1rem;
}

.header-container__span {
    color: var(--accent-orange);
}

/*---------------- ESTILOS DEL MENÚ DE NAVEGACIÓN ----------------*/

.header-container__nav {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.nav-container__link{
    color: #d8f3dc;
    transition: all 0.3s ease;
}

.nav-container__link:hover{
    color:var(--accent-yellow);
    transform: scale(1.05);
}

.nav-container__link {
    text-decoration: none;
    color: var(--white);
}

.nav-link__span {
    background-color: var(--accent-orange);
    box-shadow: 0 0 8px rgba(251, 133, 0, 0.5);
    color: var(--white);
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.75rem;
}


.nav-container__btn {
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-container__btn:hover {
    background-color: var(--white);
    color: var(--primary-dark);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
}

/*---------------- ESTILOS DEL STORE LAYOUT ----------------*/

.store-layout {
    display: flex;
    max-width: 1300px;
    margin: 20px auto;
    gap: 20px;
    padding: 0 20px;
}

.store-layout__sidebar {
    width: 250px;
    flex-shrink: 0;
}


/* -------------- SECCIÓN DE BUSQUEDA --------------*/

.content-area__search{
    margin: 1rem 0;
}

.search-container__input {
    width: 100%;
    border: 1px solid var(--primary-light);
    padding: 0.7rem 3rem;
    border: 2px solid var(--primary-light);
    border-radius: 30px;
    transition: border-color 0.3s;
}

.search-container__input:focus{
    border-color: var(--accent-orange);
    box-shadow: 0 0 8px rgba(251, 133, 0, 0.5);
    outline: none;
}

.search-section__container {
    position: relative;
}

.search-container__icon {
    position: absolute;
    left: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-light);
    pointer-events: none;
}

/* -------------- SECCION DE CATEGORIAS --------------*/

.sidebar-container__categories {
    background-color: var(--white);
    padding: 1.2rem;
    border-radius: 4px;
    box-shadow: 0 4px 6px var(--shadow-color);
}

.sidebar-container__text {
    color: var(--primary-dark);
    margin-bottom: 1rem;
    font-size: 1.4rem;
    border-left: 5px solid var(--accent-orange);
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin-left: 1rem;
}

.sidebar-container__categories ul {
    list-style: none;
    padding: 0;
}

.categories-list__item {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 4px;
    color: var(--primary-dark);
    transition: color 0.3s;
    font-weight: 500;
}

.categories-list__item:hover {
    background-color: var(--bg-cream);
    color: var(--accent-orange);
}

/*------------- ESTILOS CONTENT AREA ------------------*/

.content-area {
    flex-grow: 1;
}

/* -------------- ESTILOS DE LOS PRODUCT CARDS --------------*/

.content-area__products {
    width: 100%;
    flex-grow: 1;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}


.products-section__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.products-grid__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0.8rem;
    border: 1px solid var(--border--color);
    border-radius: 4px;
    background-color: var(--white);
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.product-card__category {
    color: var(--primary-light);
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

.product-card__image{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.product-card__description {
    color: var(--text-description);
    font-size: 0.9rem;
}

.product-card__price {
    color: var(--primary-dark);
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem;
}

.product-card__btn{
    background-color: var(--accent-orange);
    color: var(--white);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-card__name{
    color: var(--primary-dark);
    font-size: 1.2rem;
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.product-card__btn:hover {
    background-color: #e85d04; /* Un naranja más oscuro al presionar */
    box-shadow: 0 4px 12px rgba(232, 93, 4, 0.3);
}

.product-card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 8px 16px var(--shadow-color);
}

/*--------ESTILOS PARA EL CONTENIDO DE LA PÁGINA DE LOGIN--------*/


.auth-card {
    max-width: 400px;
    margin: 50px auto;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.auth-card__text {
    color: var(--primary-dark);
    margin-bottom: 1.5rem;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group__input {
    padding: 0.7rem 1rem;
    border: 1px solid var(--border--color);
    border-radius: 4px;
    transition: border-color 0.3s;
}

.form-group__input:focus {
    border-color: var(--accent-orange);
    box-shadow: 0 0 8px rgba(251, 133, 0, 0.5);
    outline: none;
}


.form__btn {
    background-color: var(--accent-orange);
    color: var(--white);
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form__btn:hover {
    background-color: #e85d04; /* Un naranja más oscuro al presionar */
    box-shadow: 0 4px 12px rgba(232, 93, 4, 0.3);
}


.form-group__label {
    text-align: center;
    color: var(--primary-light);
}


.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.form-group__select {
    padding: 0.7rem 1rem;
    border: 1px solid var(--border--color);
    border-radius: 4px;
    transition: border-color 0.3s;     
}

.form-group__select:focus{
    border-color: var(--accent-orange);
    box-shadow: 0 0 8px rgba(251, 133, 0, 0.5);
    outline: none;
}

.form-group__label{
    text-align: left;
    color: var(--primary-light);
}


.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.main-logo__span{
    color: var(--accent-orange);
}

.main-logo__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }

.main-logo__text{
    margin-top: 2rem;
    color: var(--primary-dark);
    margin-left: 1rem;
}


/* ESTILOS PARA EL MENSAJE DE ERROR */

.form-group__error {
    color: #d90429; 
    background-color: #ffccd5; 
    border-radius: 4px;
    padding: 0.3rem 0.3rem;
    font-size: 0.85rem;
    text-align: center;
    margin-bottom: 1rem;
    display: none; 
    border: 1px solid #d90429;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}

/* ----------------ESTILOS PARA EL CONTENIDO DE LA PÁGINA DE CARRITO ----------------*/


.cart-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.cart-section__text {
    color: var(--primary-dark);
    margin-bottom: 1.5rem;
    text-align: center;
}

.cart-total__text {
    color: var(--primary-light);
    font-size: 1.2rem;
    margin-top: 1rem;
}

.cart-total__price {
    margin-left: 0.5rem;
}

.cart-section__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid var(--border--color);
    border-radius: 4px;
    padding: 1rem;
}

.cart-item__name{
    margin-bottom: 0.5rem;
}

.cart-item__price{
    margin-bottom: 0.5rem;
}



.cart-section__total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.cart-section__btn{
    background-color: var(--accent-orange);
    color: var(--white);
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 1rem;
}

.cart-section__btn--clear {
    background-color: var(--white);
    color: var(--primary-dark);
    border: 1px solid var(--border--color);
}

.cart-section__btn--clear:hover {
    background-color: var(--primary-light);
    color: var(--white);
    box-shadow: 0 4px 12px rgba(45, 106, 79, 0.3);
}

.cart-section__btn--checkout:hover {
    background-color: #e85d04; /* Un naranja más oscuro al presionar */
    box-shadow: 0 4px 12px rgba(232, 93, 4, 0.3);
}



.cart-item__controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.item-controls__btn {
    background-color: var(--primary-light);
    color: var(--white);
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.item-controls__btn:hover {
    background-color: var(--accent-orange); /* Un naranja más oscuro al presionar */
    box-shadow: 0 4px 12px rgba(232, 93, 4, 0.3);
}


/* MEDIAS QUERIES*/


@media (max-width: 768px) {
    .store-layout {
        flex-direction: column; /* El Aside ahora se pone arriba de los productos */
        padding: 0 10px;
    }

    .sidebar {
        width: 100%; /* El Aside ocupa todo el ancho */
        margin-bottom: 10px;
    }

    .categorias-container h2 {
        font-size: 1.2rem;
        padding: 0.3rem 1rem;
    }

    #categoriasList {
        display: flex; /* Categorías en una fila con scroll horizontal */
        overflow-x: auto;
        gap: 10px;
        padding-bottom: 10px;
    }

    #categoriasList li {
        white-space: nowrap; /* Evita que el texto se rompa en dos líneas */
        margin-bottom: 0;
        background-color: var(--white);
        border: 1px solid var(--border--color);
    }

    .header-container {
        flex-direction: column; /* Logo arriba, Nav abajo */
        gap: 1rem;
    }

    .main-nav {
        width: 100%;
        justify-content: space-around; /* Reparte los iconos en el cel */
    }
}

/* Celulares pequeños (480px) */
@media (max-width: 480px) {
    .products-container {
        grid-template-columns: 1fr; /* Una sola card gigante por fila */
    }

    .product-card img {
        height: 200px; /* Le damos más protagonismo a la foto en el cel */
    }

    .logo h1 {
        font-size: 1.5rem; /* Achicamos el texto del logo */
    }

    .search-input {
        padding: 0.7rem 2.5rem; /* Ajustamos padding del buscador */
    }

    .cart-section {
        margin: 20px 10px;
        padding: 1rem;
    }

    .cart-total {
        justify-content: center; /* Centramos el total en el celu */
    }
}